<div id="blog_container" style="width:750px;">
	<div id="blog_post" style="width:500px; margin-bottom:25px; float:left;">
		<h3><%= raw @post.title %></h3>
		<span>By <%= link_to(@post.author["name"], blog_posts_url(:author => @post.author["id"])) %> on <%= raw @post.date.to_date.strftime('%b %d, %Y') %></span>
		<p>
		<%= raw @post.content %>
		</p>
		<hr />
		<div id="comments" style="width:500px; margin-top:25px; margin-bottom:15px;">
			<h3>
				<%= @comments.count %> thoughts on &quot;<%= raw @post.title %>&quot;
			</h3>
			<ul>
			<% @comments.each do |comment| %>
			<li id="comment">
			<%= comment["name"] %>
			<%= comment["date"] %>
			<%= raw comment["content"] %>
			</li>
			<% end %>
			</ul>
		</div>
		<div id="comment-form" style="width:500px; margin-bottom:15px;">
			<h3>
				Leave a reply
			</h3>
		<%= form_for(:comment, :url => add_comment_blog_post_url) do |f| %>
		  <table class="basic-table">
		    <%= render :partial => "form", :locals => { :f => f } %>
		  </table>
		  <p class="form-buttons">
		    <%= f.submit 'Add Comment' %>
		  </p>
		<% end %>
		</div>
	</div>

	<div id="blog_authors" style="width:200px;float:left;margin-bottom:25px;">
	<h3>Authors</h3>
	<% @authors.each do |author| %>
		<%= link_to((raw author["slug"]), blog_posts_url(:author => author["id"])) %><br />
	<% end %>
	</div>
	<div id="blog_categories" style="width:200px;float:left;margin-bottom:25px;">
	<h3>Categories</h3>
	<% @categories.each do |category| %>
		<%= link_to((raw category["title"]), blog_posts_url(:cat => category["id"])) %><br />
	<% end %>
	</div>
</div>
